@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

.link-button {
  @apply text-lg cursor-pointer;
}

.post-title {
  @apply text-2xl font-bold mb-2;
}

.button {
  @apply inline-block border border-stone-900 py-2 px-3 cursor-pointer hover:text-active-text;
}

ul:not(.browser-default) li {
  list-style-type: disc;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
